[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "insulin.secretion"]
	path = insulin.secretion
	url = https://github.com/kstier/isr.deconv
